beautifulsoup4==4.6.3
Flask==1.0.2
Flask-Bootstrap==3.3.7.1
Flask-Cors==3.0.6
Flask-PyMongo==2.3.0
google==3.0.0
google-auth==1.21.2
google-auth-oauthlib==0.4.1
google-pasta==0.2.0
googleapis-common-protos==1.53.0
pythainlp==2.2.3