<!DOCTYPE html>
<html lang='en' dir='ltr'>
    <head>
        <meta charset='utf-8'>
        <title>Check Plagiarism</title>
        <link rel="stylesheet" href="/static/css/style.css">
    </head>
    <body>
        <center>
            <br><br>
            <h1>ตรวจสอบการคัดลอก</h1>
            <p>กรอกย่อหน้าที่ต้องการตรวจสอบในกล่องข้อความ</p>
            <form method="POST">
                <textarea id="text_area" name="text" rows="32" cols="120"></textarea>
                <br><br>
                <input id="submit_button" type="submit" value="ตรวจสอบ" class="button">
            </form>
        </center>
        <p id="alert" hidden>{{alert}}</p>
        <script src = "/static/js/index.js"></script>
    </body>
</html>